html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
  background: rgba(0, 0, 0, 0.85);
  height: 72px;
}

/* Hero */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("https://images.unsplash.com/photo-1517180102446-f3ece451e9d8")
      center / cover no-repeat;

  display: flex;
  align-items: center;
  color: #fff;
}

.brand-highlight {
  color: #ff2d55;
}

.btn-primary {
  background-color: #ff2d55;
  border: none;
  padding: 12px 28px;
}

.btn-primary:hover {
  background-color: #e0244a;
}

.btn-outline-light {
  padding: 12px 28px;
}

/* Footer */
footer {
  background: #111;
  color: #777;
  padding: 20px 0;
  text-align: center;
  font-size: 0.9rem;
}
