.hero {
  min-height: 100vh;
  padding-top: 72px;

  background:
    linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)),
    url("https://images.unsplash.com/photo-1517180102446-f3ece451e9d8?auto=format&fit=crop&w=1600&q=80")
    center / cover no-repeat;

  display: flex;
  align-items: center;
}

.hero h1 {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
}
